[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "greta.censored"]
	path = greta.censored
	url = https://github.com/mtwesley/greta.censored
